<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container *ngFor="let dispCol of displayedColumns; let colIndex = index" matColumnDef="{{dispCol.key}}">
    <th class="header" mat-header-cell *matHeaderCellDef>{{dispCol.header}}</th>
    <td class="header" mat-cell *matCellDef="let element">{{element[dispCol.key]}}</td>
</ng-container>


<tr mat-header-row *matHeaderRowDef="displayedColumnsKeys; sticky: true"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumnsKeys"></tr>
</table>
