<h1>EV-Charging-Station</h1>
<div id="station1">
  <h2>Station 1</h2>
  <div class="chargingStation">
    <span> Port 1 </span>

    <select [(ngModel)]="chargingStations[0].selectedWattsForPort1Value"
      (change)="changeWatts($event, chargingStations[0].stationId, 1)" [disabled]="chargingStations[0].isPort1Disabled">
      <option *ngFor="let watts of availableWatts" [value]="watts.value" [selected]="watts.value == selected">
        {{ watts.displayName }}
      </option>
    </select>
    <span> Port 2 </span>
    <select [(ngModel)]="chargingStations[0].selectedWattsForPort2Value"
      (change)="changeWatts($event, chargingStations[0].stationId, 2)" [disabled]="chargingStations[0].isPort2Disabled">
      <option *ngFor="let watts of availableWatts" [value]="watts.value" [selected]="watts.value == selected">
        {{ watts.displayName }}
      </option>
    </select>
  </div>
</div>
<div id="station2">
  <h2>Station 2</h2>
  <div class="chargingStation">
    <span> Port 1 </span>

    <select [(ngModel)]="chargingStations[1].selectedWattsForPort1Value"
      (change)="changeWatts($event, chargingStations[1].stationId, 1)" [disabled]="chargingStations[1].isPort1Disabled">
      <option *ngFor="let watts of availableWatts" [value]="watts.value" [selected]="watts.value == selected">
        {{ watts.displayName }}
      </option>
    </select>
    <span> Port 2 </span>
    <select [(ngModel)]="chargingStations[1].selectedWattsForPort2Value"
      (change)="changeWatts($event, chargingStations[1].stationId, 2)" [disabled]="chargingStations[1].isPort2Disabled">
      <option *ngFor="let watts of availableWatts" [value]="watts.value" [selected]="watts.value == selected">
        {{ watts.displayName }}
      </option>
    </select>
  </div>
</div>
<div id="station3">
  <h2>Station 3</h2>
  <div class="chargingStation">
    <span> Port 1 </span>

    <select [(ngModel)]="chargingStations[2].selectedWattsForPort1Value"
      (change)="changeWatts($event, chargingStations[2].stationId, 1)" [disabled]="chargingStations[2].isPort1Disabled">
      <option *ngFor="let watts of availableWatts" [value]="watts.value" [selected]="watts.value == selected">
        {{ watts.displayName }}
      </option>
    </select>
    <span> Port 2 </span>
    <select [(ngModel)]="chargingStations[2].selectedWattsForPort2Value"
      (change)="changeWatts($event, chargingStations[2].stationId, 2)" [disabled]="chargingStations[2].isPort2Disabled">
      <option *ngFor="let watts of availableWatts" [value]="watts.value" [selected]="watts.value == selected">
        {{ watts.displayName }}
      </option>
    </select>
  </div>
</div>
<div id="station4">
  <h2>Station 4</h2>
  <div class="chargingStation">
    <span> Port 1 </span>

    <select [(ngModel)]="chargingStations[3].selectedWattsForPort1Value"
      (change)="changeWatts($event, chargingStations[3].stationId, 1)" [disabled]="chargingStations[3].isPort1Disabled">
      <option *ngFor="let watts of availableWatts" [value]="watts.value" [selected]="watts.value == selected">
        {{ watts.displayName }}
      </option>
    </select>
    <span> Port 2 </span>
    <select [(ngModel)]="chargingStations[3].selectedWattsForPort2Value"
      (change)="changeWatts($event, chargingStations[3].stationId, 2)" [disabled]="chargingStations[3].isPort2Disabled">
      <option *ngFor="let watts of availableWatts" [value]="watts.value" [selected]="watts.value == selected">
        {{ watts.displayName }}
      </option>
    </select>
  </div>
</div>
<div id="station5">
  <h2>Station 5</h2>
  <div class="chargingStation">
    <span> Port 1 </span>

    <select [(ngModel)]="chargingStations[4].selectedWattsForPort1Value"
      (change)="changeWatts($event, chargingStations[4].stationId, 1)" [disabled]="chargingStations[4].isPort1Disabled">
      <option *ngFor="let watts of availableWatts" [value]="watts.value" [selected]="watts.value == selected">
        {{ watts.displayName }}
      </option>
    </select>
    <span> Port 2 </span>
    <select [(ngModel)]="chargingStations[4].selectedWattsForPort2Value"
      (change)="changeWatts($event, chargingStations[4].stationId, 2)" [disabled]="chargingStations[4].isPort2Disabled">
      <option *ngFor="let watts of availableWatts" [value]="watts.value" [selected]="watts.value == selected">
        {{ watts.displayName }}
      </option>
    </select>
  </div>
</div>