<h1 class="title mb0">EV Charging Management System</h1>
<span class="desc">Hassle free charging in one touch</span> 
<br>
<br>
<div class="flex">
  
<ng-container class="start-stop">
  <div class="m30">
    <h2 class="mb0 sub-title">Start Charging</h2>
    <span class="start-stop-desc mb0">Choose the Port and Start Charging <br> at your convinence</span>
    <div>
      <mat-form-field>
        <mat-label>Select car to charge</mat-label>
        <mat-select [(value)]="selectedCar" (selectionChange)="clearStationAndPort()">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let car of carsInQueue"
          [value]="car.carId" >{{car.carName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Select station</mat-label>
        <mat-select [(value)]="selectedStation" (selectionChange)="checkAvailablePorts(selectedStation)">
          <mat-option>None</mat-option>
          <mat-option value="1">Station 1</mat-option>
          <mat-option value="2">Station 2</mat-option>
          <mat-option value="3">Station 3</mat-option>
          <mat-option value="4">Station 4</mat-option>
          <mat-option value="5">Station 5</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error *ngIf="selectedStation && isPort1Disabled && isPort2Disabled">Both ports are occupied</mat-error>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Port 1 - Select watt</mat-label>
        <mat-select [(value)]="selectedWattPort1" (selectionChange)="changeWatts($event, selectedStation, 1)" [disabled]="disableAllStationAndPorts || isPort1Disabled">
          <mat-option>None</mat-option>
          <mat-option value="3.6">3.6 KWh</mat-option>
          <mat-option value="7.2">7.2 KWh</mat-option>
          <mat-option value="11">11 KWh</mat-option>
          <mat-option value="22" [disabled]="isPort2Disabled">22 KWh</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div>
      <mat-form-field>
        <mat-label>Port 2 - Select watt</mat-label>
        <mat-select [(value)]="selectedWattPort2" (selectionChange)="changeWatts($event, selectedStation, 2)" [disabled]="disableAllStationAndPorts || isPort2Disabled">
          <mat-option>None</mat-option>
          <mat-option value="3.6">3.6 KWh</mat-option>
          <mat-option value="7.2">7.2 KWh</mat-option>
          <mat-option value="11">11 KWh</mat-option>
          <mat-option value="22" [disabled]="isPort1Disabled">22 KWh</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button mat-flat-button color="primary" (click)="startCharging(selectedCar, selectedStation, selectedWattPort1,selectedWattPort2)">Start Charging</button>
      <p>{{display }}</p> 
    </div>
  </div>
  <div class="m30">
    <h2 class="mb0 sub-title">Stop Charging</h2>
    <span class="start-stop-desc mb0">Battery full or enough of charging? <br> stop charging and pave way to other cars</span>
    <div>
      <mat-form-field>
        <mat-label>Select car to stop charging</mat-label>
        <mat-select [(value)]="selectedCarForStopCharge">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let car of carsInUse"
          [value]="car.carId">{{car.carName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <span>{{chargeStopMessage}}</span>
      <div>
      <button mat-flat-button color="warn" (click)="stopCharging(selectedCarForStopCharge)">Stop Charging</button>
    </div>
    </div>
  </div>
</ng-container>
<div></div>
<ng-container class="status">
    <div> 
      <h2 class="sub-title mb0">Status of Resources</h2>
      <span class="start-stop-desc">View available resources and its status</span>
      <app-charging-status-table [inputData]=chargingStationData></app-charging-status-table>
    </div>
</ng-container>
</div>